nav {
  /* overflow:hidden; */
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  /* padding-top: 20px; */
  position: fixed;
  z-index: 9999;
  color: #ffffff;
  background-color: #4056a1;
}

nav span {
  /* margin-top: 0em; */
  margin: 1.5em;
}

#nav-left {
  float: left;
  font-family: Bungee;
  padding-top: 10px;
}

#nav-right {
  float: right;
  font-family: Source Sans Pro;
  text-align: center;
}

#formSlideBtn {
  transition: 0.3s;
}

#formSlideBtn:hover {
  padding-top: 10px;
}
